@media only screen and (max-width: 1000px) {

	.row {
		padding: 0 1%;
	}


}


@media only screen and (max-width: 769px) {

	.logo-box img {
		height: 40px;
		width: auto;
	}

	.respmenubtn {
	    display: inline-block;
	    vertical-align: middle;
	}

	.main-nav-box {
		background: rgba(0, 0, 0, .8);
		width: 150%;
		height: 100vh;
		padding: 40px 0;
		position: fixed;
		top: -110%;
		left: -25%;
		z-index: 99;
		overflow-y: scroll
	}

	.main-nav li  {
		width: 100%;
	}

	.main-nav li .nav-link {
		display: block;
		width: 100%;
		font-size: 20px;
		padding: 7px 0;
	}

	.nav-link:hover,
	.nav-link:active {
	    background: rgba(255, 0, 0, .4);
	}

	.main-heads-box {
		float: right;
		width: 60%;
	}

	.screen-1 .left-col,
	.screen-1 .right-col {
	    width: 100%;
	    float: none;
	    padding: 20px 0;
	}


	.article-h {
	    font-size: 28px;
	    line-height: 40px;
	}


	.video-box iframe {
	    width: 422px;
	    height: 238px;
	}

	.article-txt-box .article-img {
	    float: none;
	    width: 400px;
	    margin: 10px auto;
	}

	.footer-bg .site-h {
	    width: 100%;
	}

}


@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 22px;
	    line-height: 36px;
	}

	.site-h {
	    font-size: 12px;
	    line-height: 19px;
	}

	.screen-1 h2 {
	    font-size: 22px;
	    line-height: 36px;
	}

	.article {
	    padding: 15px 0;
	    border-bottom: 1px solid #000000;
	}

	.screen-3 .article,
	.article:last-child {
		border-bottom: 1px solid transparent;
	}

	.article .right-col,
	.article .left-col {
	    display: block;
	    float: none;
	    width: 96%;
	    margin: 0 auto;
	    padding: 15px 0;
	    text-align: center;
	}

	.article-h {
	    font-size: 22px;
	    line-height: 30px;
	}

	.article-txt-box .article-img {
	    width: 98%;
	}

	.article-txt-box .paragraph {
	    text-align: center;
	}

	.video-box {
		padding: 10px;
	}

	.video-box iframe {
	    width: 280px;
	    height: 160px;
	}

}

